__pycache__/
.venv/
dist/
leanpass/__pycache__
.pytest_cache/
node_modules/
build/
.github/
.kombai/
.docusaurus/
*.egg-info/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
